In [1]:
"""importation des bibliotheques"""
import pandas as pd

In [2]:
"""lecture des donnée des fichiers"""
data = pd.read_csv('course.csv')
data.head

<bound method NDFrame.head of      Position Sexe     Temps  Dept  Temps_secondes   Age
0           1    M  00:32:23    76          779543  40.0
1           2    M  00:32:40    27          779560  34.0
2           3    M  00:33:15    76          779595  44.0
3           4    M  00:33:23    76          779603  46.0
4           5    M  00:33:29    76          779609  26.0
..        ...  ...       ...   ...             ...   ...
335       336    F  01:08:34    27          781714  41.0
336       337    F  01:08:36    27          781716  48.0
337       338    M  01:09:31    27          781771  24.0
338       339    F  01:09:31    27          781771  25.0
339       340    F  01:10:31    76          781831  41.0

[340 rows x 6 columns]>

In [3]:
"""ensemble proviennent sois de dept 78 27 14
le ~ fait l'inverse isin permet de selectionner plusieur valeur possible"""
data.loc[~data["Dept"].isin([27,14,76])]

     Position Sexe     Temps  Dept  Temps_secondes   Age
21         22    M  00:36:22    78          779782  40.0
35         36    M  00:37:31    78          779851  42.0
74         75    M  00:42:06    78          780126  57.0
255       256    M  00:55:08    78          780908  42.0
289       290    F  00:59:09    78          781149  43.0

In [4]:
"""verification des données manquantes"""
data.isna().sum() #isna peut se remplacer avec isnull

Position          0
Sexe              2
Temps             0
Dept              0
Temps_secondes    0
Age               4
dtype: int64

In [5]:
data.dtypes
data['Temps'] = pd.to_datetime(data['Temps'])

ParserError: Unknown string format: 54min47s

In [6]:
#pour trouver des valeurs outliers (hors limite)
data.describe()

          Position        Dept  Temps_secondes         Age
count   340.000000  340.000000      340.000000  336.000000
mean    177.061765   56.991176   780553.123529   42.145833
std     166.584054   25.059279      514.526264   13.963690
min    -100.000000   14.000000   779543.000000   18.000000
25%      85.750000   27.000000   780200.500000   34.000000
50%     170.500000   76.000000   780536.500000   41.500000
75%     255.250000   76.000000   780906.500000   49.250000
max    2640.000000   78.000000   781831.000000  174.000000

In [7]:
data.dtypes

Position            int64
Sexe               object
Temps              object
Dept                int64
Temps_secondes      int64
Age               float64
dtype: object

In [8]:
data[data.duplicated()]

Empty DataFrame
Columns: [Position, Sexe, Temps, Dept, Temps_secondes, Age]
Index: []

In [9]:
data.loc[~data["Sexe"].isin(['F','M'])]

     Position Sexe     Temps  Dept  Temps_secondes   Age
93         94    O  00:43:46    76          780226  18.0
109       110  NaN  00:44:39    27          780279  53.0
167       168    O  00:48:53    76          780533  24.0
291       292  NaN  00:59:16    27          781156  66.0